@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.resposta{
    font-family: 'Space Mono', monospace;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color:white;
    border-radius: 10px;
    width: 20%;
    height: 60vh;
    margin: 3% auto;
    padding: 10px;
}

.campos{
    margin-top: 0.5em;
}

