<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon/favicon.ico " type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>Busca CEP</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>Busca CEP</h1>
        </div>
        <nav>
            <a href="/">Continuar buscando</a>
        </nav>
    </header>
{{{ body }}}
    <footer>
        SPRINT 03 - Docker em AWS | Desenvolvido pela equipe 6
    </footer>
</body>
</html>